@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Previous Bakes!</h1>

    </div>

    <button onclick="one()">1</button>
    <button onclick="two()">2</button>
    <button onclick="four()">4</button>

    <script>
        var elements = document.getElementsByClassName("column");

        var i;

        function one() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.flex = "100%";
            }
        }

        function two() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.flex = "50%";
            }
        }

        function four() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.flex = "25%";
            }
        }
    </script>

    <div class="row">
        <div class="column">
            <img src="/bakes/apple pie.jpeg">
            <img src="/bakes/bloody cups.jpeg">
            <img src="/bakes/cheesecake.jpg">
            <img src="/bakes/choc straw cup.jpeg">
            <img src="/bakes/crinkle cookies.jpg">
        </div>
        <div class="column">
            <img src="/bakes/dec red vel.jpeg">
            <img src="/bakes/fun box cake.jpeg">
            <img src="/bakes/lemon cup.jpeg">
            <img src="/bakes/pinwheel.jpg">
            <img src="/bakes/pound cake.jpeg">
        </div>
        <div class="column">
            <img src="/bakes/pumpkin cake.jpg">
            <img src="/bakes/rasp bar.jpeg">
            <img src="/bakes/trifold.jpeg">
            <img src="/bakes/wine cake.jpeg">
            <img src="/bakes/yellow cake.jpeg">
        </div>
        <div class="column">
            <img src="/bakes/cong red vel.jpg">
            <img src="/bakes/colorful red vel.jpg">
            <img src="/bakes/straw cream bar.jpeg">
            <img src="/bakes/sugar cookie.jpeg">
            <img src="/bakes/inside pumpkin.jpeg">
        </div>
    </div>
</body>