@{
        ViewData["Title"] = "Home Page";
}

@model CheckoutOrderModel


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .center {
            max-width: 65%;
            margin: auto;
        }

        .noBotMargin {
            margin-bottom: 0px;
        }

        .topMarg {
            margin-top: 30px;
        }
    </style>

</head>

<body>

    <div class="center">
        <div class="shadow-lg p-4 mb-4" id="marg">

            <div class="text-center" id="orderHeader">
                <h1 class="display-4">Order Delicious Bakes Here!</h1>
            </div>

            <form asp-controller="ShoppingCart" asp-action="OrderPlaced" method="post">
                <div class="form" id="formWidth">

                    <div class="topMarg">

                        <div class="row3">
                            <div class="form-inline">
                                <label for="CustomerFirstName">First Name:</label>
                                <span class="tab"></span>
                                <input asp-for="CustomerFirstName" class="form-control" placeholder="Enter your first name" id="costumerName">
                            </div>
                            <div class="form-inline">
                                <label for="CustomerLastName">Last Name:</label>
                                <span class="tab"></span>
                                <input asp-for="CustomerLastName" class="form-control" placeholder="Enter your last name" id="costumerName">
                            </div>
                        </div>
                        <div class="row3">
                            <label for="CustomerEmail">Email:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerEmail" class="form-control" placeholder="Enter your email" />
                        </div>
                        <div class="row3">
                            <label for="CustomerPhoneNumber">Phone Number:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerPhoneNumber" class="form-control" placeholder="Enter your phone number" />
                        </div>
                        <div class="row3">
                            <div class="form-inline">
                                <label for="Size">Date Requested By:</label>
                                <span class="tab"></span>
                                <input asp-for="DueDate" class="form-control" type="datetime-local" id="dueDate"
                                       name="DueDate" value=DateTime.Today
                                       min="DateTime.Today+3" max="2024-12-01T00:00">
                            </div>
                        </div>

                        <div class="text-center">
                            <h3> Click below to submit your order! </h3>
                            <input type="submit" class="btn btn-info" id="betterButton" value="Order Now!" asp-controller="ShoppingCart" asp-action="OrderPlaced" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

</body>