@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomOrderModel


<body>
    <div class="text-center" id="space">
        <h2>Order Placed!</h2>

        <h6>Your order has been placed!</h6>
        <h6>Your confirmation number is: @Model.ConfirmationNumber</h6>

        <a href="/Order" class="btn btn-info" role="button">Order more!</a>
    </div>
</body>