@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomOrderModel


<body>
    <div class="text-center" id="space">
        <h2>Order Added!</h2>

        <h6>Your order has been added to your shopping cart! Don't forget to checkout!</h6>
        <h6>You can add more items by clicking the button below.</h6>

        <a href="/Order" class="btn btn-info" role="button">Add more bakes!</a>
    </div>
</body>