@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomOrderModel


<body>
    <div class="text-center" id="space">
        <h2>Order Confirmed!</h2>

        <h6>Thank you so much for your order! Your Order ID is: @ViewData["ID"]</h6>
        <h6>Please note that payment will be due upon completion. Fell free to email me at ferris.dehart@gmail.com if you have any questions or concerns!</h6>

        <a href="/Order" class="btn btn-info" role="button">Submit Another Order!</a>
    </div>
</body>