@{
    ViewData["Title"] = "Home Page";
}

@model OrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="shadow-lg p-4 mb-4" id="marg">

        <div class="text-center">
            <h1 class="display-4">Order Delicious Bakes Here!</h1>
        </div>

        <h2>Bake Type: @ViewData["Bake"]</h2>

        @using (Html.BeginForm("Form", "Order", FormMethod.Post))
        {
            <div class="form">
                <div class="form" id="delayTwo">
                    <div class="form-group">
                        <h2><label asp-for="flavorOptions">Flavors:</label></h2>
                    </div>
                    @Html.DropDownListFor(m => m.flavor, Model.flavorOptions.Select(x => new SelectListItem(x, x)), "Select a Flavor", new { @class = "selector form-control" })
                    <br />
                </div>
        

                @if (Model.bake == "Cake/Cupcake")
                {
                    <div>
                        <label> Select Frosting Flavor:</label>
                        <select name="fillingFlavor" class="custom-select">
                            <option selected disabled value="">Pick a Frosting:</option>
                            <option>Baileys</option>
                            <option>Blueberry</option>
                            <option>Chocolate</option>
                            <option>Cream Cheese</option>
                            <option>Lavendar</option>
                            <option>None</option>
                            <option>Strawberry</option>
                            <option>Vanilla</option>
                        </select>
                    </div>

                    <br />
                }

                @if (Model.filling)
                {
                    @if (Model.bake == "Cake/Cupcake")
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="fillingCheck" onclick="setFilling()">
                            <label class="custom-control-label" for="customCheck">Filling?</label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="customCheck">Filling?</label>
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="fillingCheck" onclick="setFilling()" checked="checked">
                        </div>
                    }


                    <div id="fillingCheck">
                        <label>Select Filling:</label>
                        <select name="fillingFlavor" class="custom-select">
                            <option selected disabled value="">Pick Filling</option>
                            <option>Raspberry</option>
                            <option>Strawberry</option>
                            <option>Blackberry</option>
                            <option>Blueberry</option>
                        </select>
                    </div>


                    <br />
                }

                <input type="submit" class="btn btn-info" id="betterButton" value="Next" />

        </div>
        }
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

</body>

<script>
    function setFilling() {
        var checkBox = document.getElementById("customCheck");
        var text = document.getElementById("fillingCheck");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function delay() {
        var x = document.getElementById("delayOne");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>