@{
    ViewData["Title"] = "Home Page";
}

@model OrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
        }
    </style>
</head>

<body>
    
    <div class="shadow-lg p-4 mb-4" id="marg">

        <div class="text-center">
            <h1 class="display-4">Order Delicious Bakes Here!</h1>
        </div>

        @using (Html.BeginForm("Index", "Order", FormMethod.Post))
        {
            <div class="form">
                <div class="form-group">
                    <h2><label asp-for="BakeList">Available Bakes:</label></h2>
                </div>
                @Html.DropDownListFor(m => m.bake, Model.BakeList.Select(x => new SelectListItem(x, x)), "Select a Bake", new { @class = "selector form-control" })
                <br />
                <input type="submit" class="btn btn-info" id="betterButton" value="Next" />
            </div>
        }

    </div>

</body>