@{
    ViewData["Title"] = "Home Page";
}

@model OrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

        .column3 {
            flex: 33.33%;
            padding: 5px;
        } 

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
        }

        .centerRight {
            display: flex;
            justify-content: right;
            align-items: center;
            height: 60px;
        }

        .orderContainer {
            position: relative;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            font-family: arial;
            padding: 20px;
            background-color: #eee6f5;
            border-radius: 25px;
        }

        .orderImage {
            opacity: 1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 75%;
            height: 75%;
            transition: .5s ease;
            backface-visibility: hidden;
            border-radius: 50%;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .description {
            font-size: 20px;
        }

        .imageCon {
            display: block;
            position: relative;
        }

        .orderBtn {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            background-color: #555;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .orderContainer:hover .orderImage {
            opacity: 0.3;
        }

        .orderContainer:hover .orderBtn {
            opacity: 1;
        }

        .miniNavbar {
            overflow: hidden;
            background-color: #eee6f5;
            width: 100%;
            padding: 15px;
            font-size: 20px;
        }

        .miniNavbar a {
            float: left;
            display: block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .hoverFix:hover {
            background: #ddd;
            color: black;
        }

        .miniNavbar .centerRight a {
            float: right;
            display: block;
            justify-content: right;
            align-items: center;
            color: white;
        }

    </style>

</head>

<body>
    
    <div class="shadow-lg p-4 mb-4" id="marg">

        <div class="miniNavbar">
            <a class="hoverFix" href="#Cakes">Cakes</a>
            <a class="hoverFix" href="#Cookies">Cookies</a>
            <a class="hoverFix" href="#Cupcakes">Cupcakes</a>
            <a class="hoverFix" href="#Pastry">Pastries</a>
            <a class="hoverFix" href="#Misc">Misc.</a>
            <a class="hoverFix" href="#Holiday">Holiday</a>
            <div class="centerRight">
                <a asp-area="" asp-controller="CustomOrder" asp-action="Index" class="btn btn-info" role="button" id="betterButton">Custom Bake!!</a>
            </div>
        </div>

        <h1 class="center" id="Cakes">Cakes</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <div class="imageCon">
                        <img src="/bakes/square/21st bday.jpg" class="orderImage">
                        <button class="orderBtn">Order Now!</button>
                    </div>
                    <h3>Bailey's and Chocolate Cake</h3>
                    <p class="price">$34.99</p>
                    <p class="description">Chocolate and Bailey's flavored cake with a Bailey's buttercream. Filled with a Bailey's mousse and topped with a Chocolate Ganache.</p>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <div class="imageCon">
                        <img src="/bakes/square/dec red vel.jpeg" class="orderImage">
                        <button class="orderBtn">Order Now!</button>
                    </div>
                    <h3>Red Velvet Cake</h3>
                    <p class="price">$24.99</p>
                    <p class="description">Red Velvet Cake with Lemon Cream Cheese frosting.</p>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">                    
                    <div class="imageCon">
                        <img src="/bakes/square/mini lemon bunt cakes.jpg" class="orderImage">
                        <button class="orderBtn">Order Now!</button>
                    </div>
                    <h3>MIni Lemon Bunt Cake</h3>
                    <p class="price">$10 per 4 cakes</p>
                    <p class="description">Mini Lemon Bunt Cake with blueberry filling and icing on top.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/pound cake.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <h1 class="center" id="Cookies">Cookies</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/crinkle cookies.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <h1 class="center" id="Cupcakes">Cupcakes</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/bloody cups.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/choc straw cup.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/lemon cup.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <h1 class="center" id="Pastry">Pastries</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/apple pie.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/pinwheel.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <h1 class="center" id="Holiday">Holiday</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/bloody cups.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/pumpkin cake.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/santa cupcakes.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/peppermint cupcakes.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/VDay cheesecake.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <h1 class="center" id="Misc">Misc.</h1>
        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/cake pops.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/rasp bar.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/swiss rolls.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/tiger pretzels.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/trifold.jpeg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>

            <div class="column3">
                <div class="orderContainer">
                    <img src="/bakes/square/no Photo.jpg" class="orderImage">
                    <button class="orderBtn">Order Now!</button>
                </div>
            </div>
        </div>

    </div>

</body>