@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Order Delicious Bakes Here!</h1>

        <br /> <br />

        <div class="container">
            <h3> Click below to get started your order! </h3>
            <button type="button" class="btn btn-info">Order</button>
        </div>
    </div>


    <div class="container">
        <div class="form-group">
            <label for="sel1">Select type of Bake:</label>
            <select class="form-control" id="sel1">
                <option>Bars</option>
                <option>Cake/Cupcake</option>
                <option>Cookies</option>
                <option>Pastry</option>
                <option>Pie</option>
                <option>Other</option>
            </select>
        </div>
    </div>
</body>