@{
    ViewData["Title"] = "About Me";
}
<div id="header">@ViewData["Title"]</div>

<div class="picText">


    <img src="~/pics/Headshot.JPG" alt="Headshot" class="img-thumbnail" style="height: 250px; width: 200px;" id="pic"/>

    <p>
        I am a Computer Science Major with a Concentration in Software Engineering at Louisiana State Univerity. I am current a junior, and I am minoring in Robotics
        and Computer Engineering. I am the oldest of five sibilings. We have a chocolate lab named Bailey, and a cat named Princess Kitty Cat.
    </p>

    <p>
        My hobbies include: yoga, learning langauges, programming, listening to music, gaming, and of course, Baking! I listed to 43,661 minutes of music on Spotify in 2020.
        My favorite artist is Glass Animals and I listed to over 2000 songs over 6,102 minutes this year. According to Spotify Wrapped, I was in Glass Animal's top 0.05% of
        the year. I also love BTS, and Suga is my favorite.
    </p>

    <p>
        Anyways, enojy my website!
    </p>

</div>