@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /> 
    <h1 class="display-4">Welcome to Ferris Bakes</h1>

    <br />
    <h3>This is my website dedicated to my baking. Please Enjoy!</h3>
    
</div>
