@{
    ViewData["Title"] = "Home Page";
}

<style>
    .backgroundDec {
        background-image: url('/wwwroot/pics/Background Dec2.png'), -webkit-linear-gradient(top, #b5abff 0, #6f5cff 100%);
    }
</style>

<body class="backgroundDec">
    <div class="text-center">
        <br />
        <h1 class="display-4">Welcome to Ferris Bakes</h1>

        <br />
        <h3>This is my website dedicated to my baking. Please Enjoy!</h3>

    </div>
</body>

