@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .bgImage {
            background-image: -webkit-linear-gradient(top, #b5abff 0, #6f5cff 100%);
        }

        .bgImage::before {
            content: "";
            background-image: url('../pics/Background Dec.png');
            background-size: 50%;
            position: absolute;
            background-position: center;
            background-repeat: repeat;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.85;
            z-index: -5;
        }

        .header {
            color: floralwhite;
            background-color: rgba(129, 133, 130, .7);
            max-width: fit-content;
            margin: auto;
            padding: 25px;
            border-radius: 10px;
        }
    </style>
</head>

 
<body class="bgImage">
    <div class="header">
        <h1 class="display-4 text-center" style="font-weight: 400">Welcome to Ferris Bakes</h1>

        <br />
        <h3>This is my website dedicated to my baking. Please Enjoy!</h3>
    </div>
</body>

