@model UserModel

<head>
    <style>
        #edit {
            display: none;
        }

    </style>
</head>

<div class="text-center">
    <br />
    <h1 class="display-4">Let's Bake!'</h1>

    <form asp-controller="CustomOrder" asp-action="Index" method="post">
       
    </form>



</div>

