<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using Ferris_Bakes.Models
@using Ferris_Bakes.Areas.Identity.Pages
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ferris_Bakes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body {
            background-image: -webkit-linear-gradient(top, #b5abff 0, #6f5cff 100%);
        }

        header {
            background-color: #eee6f5;
            display: block;
            overflow: hidden;
        }

        .container2 {
            padding: 16px;
            margin-bottom: 20px;
        }

        .ShoppingCart {
            margin-left: 15px;
            max-width: 45px;
            display: inline-flex;
            align-items: center;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#eee6f5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ferris Bakes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMe">About Me</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />

                <a class="ShoppingCart" asp-controller="ShoppingCart" asp-action="Index"><img src="/pics/Shopping Cart.png" alt="Shppping Cart" style="width:100%"></a>
            </div>
        </nav>

    </header>
    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody()
            <div id="id01" class="modal">
       
                <form class="modal-content animate" asp-area="Identity" asp-page="/Account/Login">
                    <div class="container2">
                        <label for="UserName"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button class="btn btn-info" id="betterButton" asp-area="Identity" asp-page="/Account/Login" type="submit">Login</button>
                        <br />
                        <label id="space">
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container2" style="background-color:#f1f1f1">
                        <button type="button" class="btn btn-danger" onclick="document.getElementById('id01').style.display='none'" id="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #eee6f5;">
        <div class="container">
            <a> &copy; 2020 - Ferris Bakes </a>
        </div>
    </footer>
    <script>
        var modal = document.getElementById('id01');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
