@using Microsoft.AspNetCore.Identity
@using Ferris_Bakes.Models
@using Ferris_Bakes.Data

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<div class="right">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="" asp-controller="User" asp-action="Index"><img src="~/pics/profile.png" alt="profile" style="width:42px;height:42px;"></a>
        <button class="btn btn-info" id="betterButton" onclick="document.getElementById('id01').style.display='block'">Logout</button>
    }
    else
    {
        <button class="btn btn-info" id="betterButton" onclick="document.getElementById('id01').style.display='block'">Login</button>
    }
</div>
